
p {
  font-size: 15px;
}

h1.classy {
	font-size: 4em;
}

.intro {
  font-size: 15px;
}

.hi-text {
  p {
    font-size: 14px;
  }
}

.brake {
	div {
		h2 {
			font-size: 0.8em;
		}
	}
}

.space {
  padding-top: 1em;
  padding-bottom: 1em;
}

button.btn.btn-primary {
    margin: 0 auto;
    display: block;
}
