<div id="top-nav">
            <a href="/" class="cc-logo"><img width="58" height="58" src="img/default/logo.png" alt="Classic Cottrell logo">

            </a>
</div>

<div class="row">
	<div class="large-12 column">
			<div class="intro-blk">
				<div class="title-lead">
					<h1>Classic Cottrell</h1>
					<h2>UI/UX | Art & Design</h2>
					<small>since 1985</small>
				</div>

				<p class="lead-p">What should be there. What art treatment should be used. Whats the point of this. These are problems i solve. Print &amp; Digital they all provied an Experiance and thats were i shine.</p>
			</div>
		</div>
</div>
