<!-- <div id="top-nav">
	<a href="/"><img width="58" height="58" src="assets/logo.png" alt="Classic Cottrell logo"></a>
</div> -->


		<!-- <div class="intro-blk">
				<div class="title-lead col-xs-6 col-sm-6 col-md-9">
					<p ui-sref="home">Classic Cottrell | Terry | Ace Jr.</p>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-3" id="main-nav">
					<ul class="list-inline main-list">
						<li><a ui-sref="newpage">WORK</a></li>
						<li><a ui-sref="cool">UX/UI</a></li>
						<li><a ui-sref="home">ABOUT</a></li>
					</ul>
				</div>
		</div> -->
