<!-- <div id="top-nav">
	<a href="/"><img width="58" height="58" src="assets/logo.png" alt="Classic Cottrell logo"></a>
</div> -->

<div class="row" id="header">
	<div>
		<div class="intro-blk" >
				<div class="title-lead">
					<h1 ui-sref="home">Classic Cottrell</h1>
					<h2>UI/UX | Art &amp; Design</h2>
					<small>since 1985</small>
				</div>
				<div id="main-nav">
					<ul class="list-inline">
						<li><h5><a ui-sref="newpage">Client Servises</a></h5></li>
						<li><h5><a ui-sref="cool">UX/UI: <small>Softwear Design</small></a></h5></li>
					</ul>
				</div>
		</div>
	</div>

<h6>Not for lack of trying</h6>


</div>
