<div class="col-sm-6 col-md-6 col-lg-6">

	<!-- <div class="example">
		<img src="assets/work/adidas/nba/3-up-responsive-design.png">
	</div> -->

	<h1 class="client text-center">Campaign Servises</h1>
	<br>
		<p class="intro">At Tagga, we&rsquo;re a small, efficient team of individuals putting their skills together to execute cross-channel campaigns for national and international clients.</p>
		<p>Each client has a unique problem. With campaign services, we design a campaign using cross-channel marketing methods, such as, in-store print design, Facebook/Instagram/Twitter social posts, and mobile websites, to target the client&rsquo;s problem.</p>

</div>

<div class="col-sm-6 col-md-6 col-lg-6">

	<!-- <div class="example">
		<img src="assets/work/adidas/nba/3-up-responsive-design.png">
	</div> -->

	<h1 class="client text-center">UI/UX Design</h1>
	<br>
		<p class="intro">Campaign Services was always a tool to feed data into our Consumer Data Platform.</p>

		<p>Over the 5 years working on this software it changed a lot. We were once a white label SMS & Mobile site self serve platform when i first started in 2012. We grew in a cross-channel campaign reporting platform in 2014 and final in the last two years becoming a CDP.</p>

		<p>For the Last 2 years I have been working closely with the product designer and CTO to develop wireframe, designs and prototypes, for a platform that makes mapping and creating customer profiles a brize. A software that easily connects to any new APIs or  FTP uploads and convert and update lagey data from POS systems. </p>

</div>
