<div class="second-title">
  <h2>Pack a Lunch With Triple Fruits</h2>
</div>

<div class="example">
    <img width="100%" src="assets/work/eds/lunch/EDS-social-posts-1.jpg">
</div>

<div class="col-sm-push-1 col-sm-10">
<p>I was heavily involved in the conception and design of the key photo used in the key visual design. I worked closely with the recipe photography team to give direction on the layout of items used in the photo.</p>
<p>In this campaign, we focused on the Triple Fruits products and recipes. We concepted key recipes and photography with the recipe photography team, to offer creativity for customer's back to school routines.</p>
</div>

<div class="row work-blk">
    <div class="col-sm-4">
      <img width="100%" src="assets/work/eds/lunch/EDS-social-posts-recipe-2.jpg">
      <img width="100%" src="assets/work/eds/lunch/EDS-insta-social-posts-1.jpg">
    </div>
    <div class="col-sm-4">
    <img width="100%" src="assets/work/eds/lunch/site-V2-home.jpg">
    </div>

    <div class="col-sm-4">
    <img width="100%" src="assets/work/eds/lunch/lunch-time.png">
    </div>
</div>
<hr>
