<div class="second-title">
  <h2>#SavourSummer</h2>
</div>

<div class="example">
    <img width="100%" src="assets/work/eds/2016-Savour-Summer/Med_Campaign03-Savour_Summer.jpg">
</div>

<div class="col-sm-push-1 col-sm-10">
    <p>During my three years of running E.D.SMITH&rsquo;s campaings, we went from a team of five, to a team of two. This allowed for the development of my client relations skills.</p>

    <p>I had full control over concept, development and deployments. I directed all aspects of this campaign and am happy with the response and result of my work.</p>
</div>

<div class="row work-blk">
    <div class="col-sm-6">
      <img src="assets/work/eds/2016-Savour-Summer/social-posts-enter.jpg">
    </div>
    <div class="col-sm-6">
      <img src="assets/work/eds/2016-Savour-Summer/social-posts-V2.jpg">
    </div>
</div>
