@import "~bootstrap/less/bootstrap.less";
@import "~font-awesome/css/font-awesome.css";

// @import "~cc-less/type.less";

@import "~cc-less/variables.less";
@import "~cc-less/gloabl.less";

@body-bg: rgba(255, 255, 255, .8);



// Used to alter default styles that can't be overwritten in foundation/settings

// =================================================
// ==================== General ====================
// =================================================



//My Main Blue

@blue1 : #253C82;
@blue2 : #131F42;
@blue3 : #375AC2;
@blue4 : #3A60CF;
@blue5 : #304EA8;

// assets/bg.jpg

html {
 //  background: url('assets/bg-water.jpg') no-repeat center center fixed;
	// -webkit-background-size: cover;
	// -moz-background-size: cover;
	// -o-background-size: cover;
	// background-size: cover;
	background: #fff;
}

body {
// 	background-image: -webkit-linear-gradient(top, #000052, #f70052);
// 	background-image: -moz-linear-gradient(top, #000052, #f70052);
// 	background-image: -ms-linear-gradient(top, #000052, #f70052);
// 	background-image: -o-linear-gradient(top, #000052, #f70052);
// 	background-image: linear-gradient(to bottom, #000052, #f70052);
// 	opacity: .1;
height: 100%;
}

img {
	// width: 100%;
	display: block;
}

// Fix Checkbox wrapping problem

input[type="checkbox"] {
  margin-right: 0.5rem;
  margin-bottom: 0;
}


label {
  margin-bottom: 1em;
}

label.label-mover {
	margin-bottom: 0.4em;
	margin-left: 1em;
	text-transform: uppercase;
	font-weight: bold;
}

a {
	color: #494949;
    font-weight: bold;
    opacity: .5;

    &:hover {
    	text-decoration: underline;
    	// color: lighten(#000, 50%);
    }
}



p {
	font-size: 13px;
	line-height: 1.7;
	opacity: .8;
}

hr {
	border: 1px solid @blue2;
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
}

// =================================================
// ==================== Header =====================
// =================================================

h1 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 200;
	color: #f70052;
}

h2 {
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
}

h3 {
	font-size: 18px;
	// color: #f70052;
	line-height: 1.7;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
}

h2,h2,h3 {
	color: $blue2;
}

h6 {
-webkit-transform: rotate(90deg);
position: absolute;
font-size: 30px;
font-weight: bold;
text-transform: uppercase;
top: 12em;
left:-5.3em;
color: rgba(255, 255, 255, 0.3);
padding: 0;
margin: 0;
line-height: 0;
}

small {
	font-size: 11px;

	a {
		color: $white;
	}

}

button {

}


button {
  background: #000052;
  background-image: -webkit-linear-gradient(top, #000052, #f70052);
  background-image: -moz-linear-gradient(top, #000052, #f70052);
  background-image: -ms-linear-gradient(top, #000052, #f70052);
  background-image: -o-linear-gradient(top, #000052, #f70052);
  background-image: linear-gradient(to bottom, #000052, #f70052);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
  background: #f70052;
  background-image: -webkit-linear-gradient(top, #f70052, #000052);
  background-image: -moz-linear-gradient(top, #f70052, #000052);
  background-image: -ms-linear-gradient(top, #f70052, #000052);
  background-image: -o-linear-gradient(top, #f70052, #000052);
  background-image: linear-gradient(to bottom, #f70052, #000052);
  text-decoration: none;
}


.right {
	float: right;
}
.left{
	float: left;
}

.lead-p {
	margin-top: 2em;
	width: 80%;
	border-left: 6px solid $blue5;
	line-height: 1.6;
	font-size: 20px;
	font-weight: 200;
	padding-left: 15px;
	position: relative;
	left: 10%;
	opacity: .9;
}

.sub-text {
	line-height: 0;
	font-size: 11px;
	margin-bottom: 10px;
	margin-top: 0;
	padding-bottom: 15px;
}




// =================================================
// ==================== Main =======================
// =================================================


#header {
	border-bottom: 2px solid $blue5;
	margin-bottom: 0px;
	background-color: none;

	.cc-logo {
	height: 150px;
	margin: 0 auto;
	display: inline-block;
	}
}

.gray-box {
    background: #efefef;
    opacity: 0.4;
    padding: 2em 10px 1em;
    margin: 0 0 20px 0;
    margin-right: 0px;

    p {
    	margin-bottom: 0;
    }
}


	li {
		display: inline-block;
		a {
			color: $blue2;
			font-weight: light;
			font-size: 1em;
			font-family: Menlo;
			letter-spacing: 2px;
		}
}

	.gray-box2 {
	    padding: 1em 30px 1em;
	    margin: 0 0 20px 0;
	    margin-right: 0px;

	    p {
	    	margin-bottom: 0;
	    }
	}




img.profile {
	border-radius: 100%;
	margin: 0 auto;
	display: block;
	vertical-align: middle;
	position: relative;
	top: 0em;
	right: 1em;
	border: 10px solid #fff;

	-webkit-filter: hue-rotate(130deg);
  	filter: hue-rotate(90deg);
}

// =================================================
// ==================== Elements =======================
// =================================================


.hi-text {
	background-color: rgba(255, 255, 255, 0.8);
	// border-top: 2px solid rgba(10, 98, 63, 0.5);
	padding: 0em 1.5em;
	padding-bottom: 1em;
	width: 100%;
	margin-left: 1em;
	margin: 1em 1em 0 0;

	h3{
		border-bottom: 1px solid #ccc;
	}
	p {
		font-size: 16px;
		line-height: 1.8;
		opacity: 0.8;
	}
}

.logs {
	padding: 2em;
	margin: 0 auto;
}

#footer {
	width: 100%;
	padding: 2em;
	margin-top: 2em;
	background-color: rgba(255, 255, 255, 0.8);
	border-top: 1px solid rgba(33, 33, 2, 0.1);
	border-bottom: 1px solid rgba(33, 33, 2, 0.1);

	position: relative;
	// bottom: 0;

	small {
		text-align: center;
	}
}

.work {
	background-color: rgba(255, 255, 255, 0.8);
	margin-top: 3em;
}

#blog-post {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 1em;
	margin-top:0em;

	h3 {
		padding-top: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
	h4 {
		padding-top: 0;
		margin-top: 0;
	}

	img {
		padding: .5em;
	}
	p {
		padding: 1em 0;
	}
}

.the-line{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000052+0,f70052+100 */
	background: #000052; /* Old browsers */
	background: -moz-linear-gradient(left, #000052 0%, #f70052 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #000052 0%,#f70052 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #000052 0%,#f70052 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000052', endColorstr='#f70052',GradientType=1 ); /* IE6-9 */
	height: 5px;
}



header {
	padding: 1em 2em;

	.intro-blk {
		text-align: left;
		margin-left: 0;
		padding-left: 0;
	}
}


footer {
	// position: absolute;
	width: 100%;
	bottom: 0;
}



@media (min-width: 768px) {
  .container {
    min-width: 836px;
  }
}


@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {

	.container {
    min-width: 100%;
  }

  #main-nav .main-list {
  	float: left;
  }
}



/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
 {
	 .column{
 		display: inline-block;
 	}


}
