@import "~bootstrap/less/bootstrap.less";
@import (inline) "~font-awesome/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

@import "~cc-less/type.less";
@import "~cc-less/variables.less";
@import "~cc-less/gloabl.less";

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { @import "~cc-less/ui/small-only.less"; }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { @import "~cc-less/ui/medium-only.less"; }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { @import "~cc-less/ui/large-only.less"; }



@body-bg: rgba(255, 255, 255, .8);



// Used to alter default styles that can't be overwritten in bootstrap/settings

// =================================================
// ==================== General ====================
// =================================================



//My Main Blue
@blue1 : #253C82;
@blue2 : #131F42;
@blue3 : #375AC2;
@blue4 : #3A60CF;
@blue5 : #304EA8;


html {
 //  background: url('assets/bg-water.jpg') no-repeat center center fixed;
	// -webkit-background-size: cover;
	// -moz-background-size: cover;
	// -o-background-size: cover;
	// background-size: cover;
	background: #fff;
}

body {
height: 100%;
}

img {
	// width: 100%;
	display: block;
}

// Fix Checkbox wrapping problem

input[type="checkbox"] {
  margin-right: 0.5rem;
  margin-bottom: 0;
}


label {
  margin-bottom: 1em;
}

label.label-mover {
	margin-bottom: 0.4em;
	margin-left: 1em;
	text-transform: uppercase;
	font-weight: bold;
}


hr {
	border: 1px solid #4AA3BA;
	display: block;
	margin-top: 2em;
	margin-bottom: 2em;
	opacity: .7;
}


.right {
	float: right;
}
.left{
	float: left;
}

.lead-p {
	margin-top: 2em;
	width: 80%;
	border-left: 6px solid $blue5;
	line-height: 1.6;
	font-size: 2.3em;
	font-weight: 200;
	padding-left: 15px;
	position: relative;
	left: 10%;
	opacity: .9;
}

.sub-text {
	line-height: 0;
	font-size: 11px;
	margin-bottom: 10px;
	margin-top: 0;
	padding-bottom: 15px;
}




// =================================================
// ==================== Main =======================
// =================================================


#header {
	border-bottom: 2px solid $blue5;
	margin-bottom: 0px;
	background-color: none;
}

.gray-box {
    background: #efefef;
    opacity: 0.4;
    padding: 2em 10px 1em;
    margin: 0 0 20px 0;
    margin-right: 0px;

    p {
    	margin-bottom: 0;
    }
}

	li {
		display: inline-block;
		a {
			font-weight: 400;
			font-size: 1.2em;
			// font-family: Menlo;
			letter-spacing: 2px;
		}
}

	.gray-box2 {
	    padding: 1em 30px 1em;
	    margin: 0 0 20px 0;
	    margin-right: 0px;

	    p {
	    	margin-bottom: 0;
	    }
	}


img.profile {
	border-radius: 100%;
	margin: 0 auto;
	display: block;
	vertical-align: middle;
	position: relative;

	border: 10px solid #fff;

	-webkit-filter: hue-rotate(130deg);
  	filter: hue-rotate(0deg);
}

header {
	.intro-blk {
		text-align: left;
		margin-left: 0;
		padding-left: 0;
	}
}


// =================================================
// ==================== Footer =======================
// =================================================


footer {
	// position: absolute;
	width: 100%;
	bottom: 0;
}



// =================================================
// ==================== Media Quieries =======================
// =================================================


@media (min-width: 768px) {
  .container {
    min-width: 836px;
  }
}


@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {

	.container {
    min-width: 100%;
  }

  #main-nav .main-list {
  	float: left;
  }
}



/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
 {
	 .column{
 		display: inline-block;
 	}

}
