<div class="row">
	<div class="large-12 column">
		<div class="intro-blk">
			<h1>Classic Cottrell | Art Direction &amp; Design</h1>
			<small>since 1985</small>

			<p>Currently working with traditional art and commercial art. Currently making money by Creating Cross Channel Campaings for Brands to better Understand there Consumer. See @tagga for more details</p>
		</div>
	</div>

	<div class="large-12 medium-12 small-12 columns">
		<div class="work">
			<img src="img/default/place-holder-work.jpg" alt="">
			<h3>Work name and campaing name</h3>
			<p>small stuff about the project. <a href="#">More..</a></p>
			
			
		</div>
	</div>

	<div class="large-6 medium-6 small-6 columns">
		<div class="work">
			<img src="img/default/place-holder-work.jpg" alt="">
			<h3>Work name and campaing name</h3>
			<p>small stuff about the project. <a href="#">More..</a></p>
		</div>
	</div>

	<div class="large-6 medium-6 small-6 columns">
		<div class="work">
			<img src="img/default/place-holder-work.jpg" alt="">
			<h3>Work name and campaing name</h3>
			<p>small stuff about the project. <a href="#">More..</a></p>
		</div>
	</div>


	<div class="lage-12 medium-12 small-12 columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et commodo justo. Morbi non mauris sed sem scelerisque suscipit ac eget nisl. Donec eget velit nec lectus venenatis placerat dignissim et lacus. In pharetra pretium nulla, in tempus ex ullamcorper quis. Cras porttitor tellus at nulla faucibus luctus. Praesent aliquet, nunc et varius suscipit, nibh augue varius tortor, non dictum nibh lacus sit amet massa. Praesent rutrum eros vitae nisi consectetur hendrerit.
Proin vestibulum bibendum est at malesuada. Mauris blandit ac nunc sed hendrerit. Aliquam accumsan est nec ex luctus dictum. Nulla in nisi libero. Cras auctor dictum sodales. Mauris congue ut nulla nec malesuada. Fusce aliquam vel diam et fringilla. Suspendisse ac purus feugiat, tempor lorem sit amet, facilisis lectus.i accumsan, fermentum dui in, aliquam turpis.
</p>

	</div>

<div class="lage-12 medium-12 small-12 columns">
		<img src="img/default/place-holder-work.jpg" alt="somthing">
	</div>


	<div class="lage-12 medium-12 small-12 columns">
		<p>Nunc eget nulla dictum, varius erat id, dictum nunc. Donec nibh nisi, pellentesque quis sagittis eu, vehicula sed enim. Duis eu sem at lectus eleifend vehicula. Praesent sit amet nulla semper ligula venenatis auctor sed et odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin in elit at purus lobortis mattis aliquet id dui. Morbi commodo mattis pulvinar. Cras sed odio egestas, blandit arcu ut, pretium mauris. Proin volutpat quam eu elit iaculis, id vehicula urna convallis. Morbi sed varius lacus. Ut mollis massa ac justo semper ornare. Fusce malesuada varius metus, ut efficitur libero faucibus vel. Sed ut m</p>
	</div>

</div>
