<div class="row">

<hr>
	<div class="large-6 medium-6 small-6 columns">
		<div class="work">
			

			<h3>Campaing Servises</h3>
				<p>Using the tagga platfom as the back bong of our campaing serveses team. I help create campaing brifes to planning to exicutions. i was involed hevely through out the full prosses of campaings creating short rang targeted campaigns to log waves of larger 2 to 3 months campaigns. Working with small to mediam size brands has help me develop my art direction as well as my campaing exicutions skills.</p>
				


				<p>have worked in the print indastry I am able to exicuts print material for individual stors using QR codes and sms messageing. </p>
				<p></p>
		</div>
	</div>

	<div class="large-6 medium-6 small-6 columns">
		<div class="work">
			<p>
			<span>Brands i worked With:</span>
			<strong>adidas, redbull, kicking hours, E.D.SMITH, Gordmans, Paramount Pitchers, sunmaid, vita foods</strong></p>
		</div>
	</div>


	<div class="large-12 columns">
		<h5>adidas MLS #MLSCityVip</h5>
		<p>Channels created: Print, web banners, google ads, social posts, facebook ad words</p>


		<h7>What i Did</h7>
		<p>Working with adidas and the Major Leag Soccor we partnered with 3 MLS teams and 5 retailers and created #MLSCITYVIP. In this Cross Channel Campaign I work with my team to develop and produse the Art direction, messaging and design of all media used druring the cours of this campaing.<a href="#">More..</a></p>

		<p>adidas needed to tie multipal retail stors to geter to get results </p>

		<p></p>
	</div>

	

	<div class="lage-12 medium-12 small-12 columns">
		<p>Art. Its Somthing i will never stop doing, and the only thing that will be here after im not.</p>
		<p>Paid or Un-paid {Period}</p>
	</div>


<div class="lage-12 medium-12 small-12 columns">
		<img src="img/default/place-holder-work.jpg" alt="somthing">
	</div>


	<div class="lage-12 medium-12 small-12 columns">
		<p>Nunc eget nulla dictum, varius erat id, dictum nunc. Donec nibh nisi, pellentesque quis sagittis eu, vehicula sed enim. Duis eu sem at lectus eleifend vehicula. Praesent sit amet nulla semper ligula venenatis auctor sed et odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin in elit at purus lobortis mattis aliquet id dui. Morbi commodo mattis pulvinar. Cras sed odio egestas, blandit arcu ut, pretium mauris. Proin volutpat quam eu elit iaculis, id vehicula urna convallis. Morbi sed varius lacus. Ut mollis massa ac justo semper ornare. Fusce malesuada varius metus, ut efficitur libero faucibus vel. Sed ut m</p>
	</div>

</div>

<div class="row">
	
	<div class="large-12 medium-12 small-12 columns">
		<div class="work">
			<h3>User Interface</h3>
				<h5>Tagga Platform</h5>
				<p>From Art Direction to softwear elements The tagga platform softwear is were i have been creating and shapping the platform design. creating the ui style from sketes to final product the tagga platfom is on the cutting edge of marketing siance using cross channel algaritems we creat 360 profiles. </p>

			<h3>User Experiance</h3>

			
		</div>
	</div>

	<div class="large-6 columns">
		<img src="img/default/adidas/mls-2015/4-way_banner.jpg"> 
	</div>
	<div class="large-6 columns">
		<img src="img/default/adidas/mls-2015/22x28_stanchion.jpg"> 
	</div>
	<div class="large-6 columns">
		<img src="img/default/adidas/mls-2015/H-FRAME_SR48_Side_Panel.jpg"> 
	</div>

	<div class="large-12 columns">
		<img src="img/default/fat-man.jpg" alt="">
			<h3>E.D.SMITH #SummerFun</h3>
			<p>Having walked with the E.D.SMITH bran for over a year im proud to see the brand braking new ground with there Brand development. In this campaing we focused on Summer and they way it brings and creates memories. <a href="#">More..</a></p>
	</div>



</div>