<div id="main">
	
	<div class="row">

		<div class="large-6 medium-6 small-12 columns">
			<p class="side-txt">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis, libero posuere commodo.
			</p>
		</div>

		<div class="large-6 medium-6 small-12 columns">
			<div class="gray-box">

				<tg-form model="contact" post-submit-url="share" ng-submit="submitCustom()">
			
		
				<label class="label-mover" for="firstName">First Name</label>
				<tg-input name="firstName" disable-label required></tg-input>
			
				<label class="label-mover" for="lastName">Last Name</label>
				<tg-input name="lastName" disable-label required></tg-input>

				<label class="label-mover" for="email">Email Address</label>
				<tg-input name="email" type="email" disable-label required></tg-input>
		
					<tg-sms-opt-in
						name="mobileOptIn"
						div-class="padding-disable"
						shortcode="82442"
						keyword="aaaarrrr"
						consent-label="Consent Label"
					></tg-sms-opt-in>
		

					<tg-email-opt-in name="emailOptIn" div-class="padding-disable" list-id="12345" api-key="12345" for="email" firstname-field="firstName" lastname-field="lastName"></tg-email-opt-in>

		
					<div id="age"><tg-input type="checkbox" name="age_agree" div-class="" label="I am at least 16 years of age and agree to the full <a href='#' target='_blank'>Terms and Conditions</a>" required></tg-input></div>

				
			<button class="submit" type="submit">Submit</button>
				
		
		</tg-form>

			</div>

			<div id="footer">
				<p class="copyright">Copyright © 2014 Gordmans</p>
				<p><a href="pp">Privacy Policy</a></p>
				<p class="view-site"><a href="http://m.gordmans.com/" target="_blank">View m.gordmans.com</a></p>
			</div>

		</div>


	</div>


</div>


