<div id="main">
	
	<div class="row">

		<div class="large-6 medium-6 small-12 columns">
			<p class="side-txt">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis, libero posuere commodo mollis, sem sapien condimentum erat, sit amet vestibulum eros justo eu nisi.
			</p>
		</div>

		<div class="large-6 medium-6 small-12 columns">
			<div class="gray-box2">
			
			<h2>Lorem ipsum dolor sit amet</h2>
			<a href="#"><img src="img/default/coupon.png"></a>
				<hr>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis, libero posuere commodo mollis.</p>
			

	

			</div>

			<div id="footer">
				<p class="copyright">Copyright © 2014 Gordmans</p>
				<p><a href="pp">Privacy Policy</a></p>
				<p class="view-site"><a href="http://m.gordmans.com/" target="_blank">View m.gordmans.com</a></p>
			</div>

		</div>


	</div>


</div>


