<div id="main">
	
	<div class="row">

	<img class ="show-for-small-only" src="img/small/thank-top-image.jpg" alt="Thank you print the coupon to receive this special offer from Gordmans!">

		<div class="girls hide-for-small">
				<img class="hide-sm" src="img/default/thank-girl.jpg" alt="Gordmans girl">
		</div>

		<div class="push-6 large-6 medium-6 small-12 columns">

		<img src="img/default/thank-page-txt.jpg" class="hide-for-small" alt="Thank you print the coupon to receive this special offer from Gordmans!">


			<div class="gray-box2">

			<a href="files/coupon.jpg" target="_blank" class="coupon-img"><img src="img/default/coupon.jpg" alt="Gordmans Coupon, 20% off any single item"></a>
			<a href="https://gordmans-direct.tag.ga/files/coupon.jpg" target="_blank" class="btn coupon"><img src="img/default/coupon-btn.jpg" alt="Go to the coupon image"></a>
				<hr>
			<p>Lorem ipsum dolor sit amet.</p>
			
			<div class="btn-group">
				
			<a href="https://www.gordmans.com/store-locator" target="_blank" class="btn"><img src="img/default/store-locator-btn.jpg" alt="go to the store locator"></a>
			<a href="https://www.gordmans.com/" target="_blank" class="btn"><img src="img/default/shop-btn.jpg" alt="go to gordmans.com"></a>
			
			</div>

			</div>

			<div id="footer">
				<p><a href="https://www.gordmans.com/">Gordmans.com</a></p>
				<p><a href="pp">Privacy Policy</a></p>
				<p><a href="files/terms/terms.pdf" target="_blank">Terms &amp; Conditions</a></p>
				<p class="copyright">Copyright © 2014 Gordmans</p>
			</div>
		</div>
	</div>
</div>


