// Used to alter default styles that can't be overwritten in foundation/settings

// =================================================
// ==================== General ====================
// =================================================

// Fix Checkbox wrapping problem

input[type="checkbox"] {
  margin-right: 0.5rem;
  margin-bottom: 0;
}


label {
  margin-bottom: 1em;
}

label.label-mover {
	margin-bottom: 0.4em;
	margin-left: 1em;
	text-transform: uppercase;
	font-weight: bold;
}

a {
	color: #494949;
    text-decoration: underline;
}

// =================================================
// ==================== Header =====================
// =================================================


h1 {
	padding-bottom: 0;
	margin-bottom: 0;
	font-size: 22px;
}

h2 {
	font-size: 23px;
	padding-bottom: 20px;
	padding-top: 20px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

h2,h2,h3 {
	color: $purple;
}

small {
	font-size: 11px;
	padding-top: 0;
	margin-top: 0;
	line-height: 2;

	a {
		color: $white;
	}

}


// =================================================
// ==================== Main =======================
// =================================================


div.girls {
	position: absolute;
	width: 50%;
	max-width: 900px;

	img {
		position: relative;
		right: 20%;
	}

}


.gray-box{
    background: #efefef;
    padding: 2em 10px 1em;
    margin: 0 0 20px 0;
    margin-right: 0px;

    p {
    	margin-bottom: 0;
    }
}


.gray-box2{
    padding: 1em 30px 1em;
    margin: 0 0 20px 0;
    margin-right: 0px;

    p {
    	margin-bottom: 0;
    }
}


#top-nav {
	border-bottom: 2px dotted #efefef;
    margin-bottom: 26px;

    img {
		padding-bottom: 4px;
		margin-left: -4px;
		width: 130px;
		float: left;
		}
}

.side-txt {
	color: #4c93d6;
	font-size: 2em;
	line-height: 1.5;
}

.btn {
	img {
		display: block;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 0.4em;
		margin-top: 0.5em;
		padding-top: 1em;
	}
}

// =================================================
// ==================== Form =====================
// =================================================

#age {
	margin-left: 1em;
}

.pp-txt {
	p {
		font-size: 13px;
	}
	margin-left: 1em;
}


a.submit {
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 100%;
img {
	display: block;
	margin: 0 auto;
	max-width: 80%;
	text-align: center;
	}
}

button {
	background-color: transparent;
}

.cheak.padding-disable {
	padding-top: 15px;
	display: inline-block;
}

.error small.error, small.error, span.error {
	font-size: 0.85em;
}

// =================================================
// ==================== Footer =====================
// =================================================

#footer {
	margin-top: 3em;
	p {
		font-size: 13px;
	}
}
