// Used to alter styles for screens 641px - 1024px wide

// =================================================
// ==================== General ====================
// =================================================



// =================================================
// ==================== Header =====================
// =================================================



// =================================================
// ==================== Main =======================
// =================================================

.gray-box,.gray-box2 {
	margin-right: 0px;
}


div.girls {

	img {
		// max-width: 900px;
		position: relative;
		right: 0%;
	}

}

// =================================================
// ==================== Footer =====================
// =================================================


