// Used to alter styles for screens 0px - 640px wide

// =================================================
// ==================== General ====================
// =================================================



// =================================================
// ==================== Header =====================
// =================================================



// =================================================
// ==================== Main =======================
// =================================================

.gray-box,.gray-box2 {
	padding: 1em;
	margin-right: 0px;
}


.hide-sm {
	display: none;
}




// =================================================
// ==================== Footer =====================
// =================================================


